.inicio {
    background: url("../../img/fondo_main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: calc(100vh);
}


.inicio article{
    height: 100%;
    background-color: rgba(97, 186, 81, 0.096);
}

.fotoInicio {
    width: 120px;
    border-radius: 50%;
}

@media screen and (min-width:768px) {
    .fotoInicio {
        width: 200px;
    }
}