/* Diseño seccion Inicio

.tituloInicio {
    margin: 20px;
}

.textoInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textoInicio button {
    cursor: pointer;
    margin-top: 12px;
    color: #fff;
    border: 1px solid transparent;
    border-color: #1c8784;
    background-color: #22A39F;
    border-radius: 4px;
    font-size: 0.8rem;
    padding: 10px;
}

@media screen and (min-width:768px) {

    .inicio {
        height: 100%;
    }

    .inicio article{
        flex-direction: row;
        align-items: center;
        padding: 20px;
    }
    
    .tituloInicio {
        margin-left: 50px;
        width: 30%;
    }
    
    .fotoInicio {
        width: 200px;
    }
    
    .textoInicio {
        width: 70%;
    }
    
    .textoInicio p {
        width: 50%;
    }
} */

.inicio {
    background: url("../../img/fondo_main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: calc(100vh);
}


.inicio article{
    height: 100%;
    background-color: rgba(97, 186, 81, 0.096);
}

.fotoInicio {
    width: 120px;
    border-radius: 50%;
}

@media screen and (min-width:768px) {
    .fotoInicio {
        width: 200px;
    }
}