/*Diseño de seccion Perfil*/

.perfil {
    background-color: #fff;
}

.descripcion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "foto"
                         "sobreMi"
                         "detalles";
    width: 90%;
    padding-top: 20px;
    border-top: 1px solid #cecece;
}

.informacion {
    grid-area:sobreMi;
}

.descripcion__miniatura {
    grid-area: foto;
}

.descripcion__imagen {
    width: 120px;
    border-radius: 50%;
}

.detalles {
    grid-area: detalles;
    
}

.detalles__lista {
    list-style: none;
}

@media screen and (min-width: 768px) {
    .descripcion {
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 1fr;
        grid-template-areas: "sobreMi foto detalles";
        width: 90%;
        padding-top: 20px;
        border-top: 1px solid #cecece;
    }

    .descripcion__imagen {
        width: 180px;
    }    

    .informacion {
        text-align: left;
    }

    .detalles {
        text-align: right;
    }

}