/*
    Colores

*/

@import "_inicio";
@import "_perfil";
@import "_habilidades";
@import "proyectos";
@import "_contacto";

$menu : #434242;
$fondo : #fff;
$titulos : #60BA51;
$textos : #727878;
$proyectos : #F3EFE0;
$contacto : #434242;

/*Diseños global de elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #727878;
    background: $fondo;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: $titulos;
}

label {
    color: #60BA51;
}

.requerido {
    color: red;
}

.boton {
    width: 100px;
    color: #fff;
    border: 1px solid transparent;
    border-color: #4d9240;
    background-color: #60BA51;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    margin: 0 10px;
    transition: 400ms ease-out;
}

.boton:hover {
    background-color: #4d9240;
}

.limpiar {
    background-color: #c27552;
    border-color: #a56344;
}

.limpiar:hover {
    background-color: #a56344;
}

.logoEbcoding {
    width: 120px;
}

section {
    grid-area: seccion;
    width: 100%;
    min-height: calc(100vh);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

/* Diseño encabezado secundario */

.encabezadoSecundario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}

.encabezadoSecundario h2 {
    font-size: 26px;
    font-weight: 300;
}


.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343A40;
    padding: 10px
}

.footer__h6 {
    font-size: 10px;
}

/* DISEÑOS PARA TABLETS */

@media screen and (min-width: 768px) { 
    .encabezadoPrincipal {
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
    }

    section {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    nav {
        font-size: 16px;
    }

    nav a {
        margin: 0 12px;
    }

    footer h6 {
        font-size: 0.8em;
        font-weight: bold;
    }
}